<html>
  <head>
    <title>Poll Signup</title>
  </head>
  <body>
    <center>
      <form method="POST" action="/signup">
        <table cellspacing="5">
          <tr>
            <td>username:</td>
            <td><input type="text" name="Name" /></td>
          </tr>
          <tr>
            <td>password:</td>
            <td><input type="password" name="Pass" /></td>
          </tr>
          <tr>
            <td>secret:</td>
            <td><input type="text" name="Secret" /></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="sign up" /></td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>
